
node_modules/
jspm_packages/
vendor/
env/
venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

dist/
build/
bin/
obj/
*.log
*.tmp
*.temp
.cache/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

.git/
.patch
*.zip
*.gz

database.db